$main-color: #132435;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Lato", sans-serif;
  color: $main-color;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 12px;
}
ul {
  li {
    max-width: 372px;
    font-size: 22px;
    font-weight: bold;
    list-style-type: none;
    margin: 6px 0;
    & + li {
      font-size: 16px;
      font-weight: normal;
      margin: 2px 0;
    }
  }
}
.contractor-data {
  margin-top: 22px;
}
.form-service-provided {
  margin-top: 49px;
  label {
    display: block;
    font-size: 12px;
  }
  div {
    border: 1px solid $main-color;
    padding: 10px;
    max-width: 370px;
    min-height: 150px;
    margin-top: 10px;
    border-radius: 5px;
  }
}
.service-data {
  margin-top: 48px;
}
.left {
  min-width: 40%;
}
.right {
  margin-top: 45px;
  text-align: right;
}
#data {
  font-weight: bold;
}
.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.btn {
  text-align: left;
  .label {
    font-size: 16px;
  }
  span {
    display: block;
    margin-top: 50px;
  }
  div {
    display: block;
    margin-top: 11px;
    background-color: $main-color;
    padding: 15px 64px 15px 20px;
    color: white;
    border-radius: 5px;
  }
}
